In [1]:
## Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
## Reading data
dfRequisition = pd.read_csv('Application_timeline.csv')
dfRequisition.head(5)

,Requisition,Pipelined,Submitted,Started,Web Apply,Phone Interview,Declined from Pipeline,In Person Interview,Video Interview,Candidate Withdrew Interest,...,Client Rejected Candidate,Declined from Web Apply,Offer Declined,Offer,Applicants,HasPhoneInterview,HasInPersonInterview,HasVideoInterview,Total Unique Candidates,First Interview Date
0,AA155723314,4,2,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,5,NaN
1,AA177112517,0,2,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,2,NaN
2,AA20756542,4,9,3,6,2,0,0,0,0,...,0,0,0,0,15,1,0,0,17,NaN
3,AA276030524,18,2,2,0,1,13,1,1,0,...,0,0,0,0,2,1,1,1,20,2018-06-05
4,AA298282119,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,NaN

In [3]:
## Date Time
dfRequisition['First Interview Date']= pd.to_datetime(dfRequisition['First Interview Date'])
dfRequisition.dtypes

Requisition                             object
Pipelined                                int64
Submitted                                int64
Started                                  int64
Web Apply                                int64
Phone Interview                          int64
Declined from Pipeline                   int64
In Person Interview                      int64
Video Interview                          int64
Candidate Withdrew Interest              int64
Client Declined                          int64
2nd In Person Interview                  int64
Phone Screen                             int64
Candidate Declined                       int64
Internal In Person Interview             int64
Ready to Submit                          int64
Client Rejected Candidate                int64
Declined from Web Apply                  int64
Offer Declined                           int64
Offer                                    int64
Applicants                               int64
HasPhoneInterview                        int64
HasInPersonInterview                     int64
HasVideoInterview                        int64
Total Unique Candidates                  int64
First Interview Date            datetime64[ns]
dtype: object

In [4]:
## Reading more data
dfRequisition_Raw = pd.read_csv('requisition.csv')
dfRequisition_Raw.head(5)

,Requisition,Date Created,Company,Job Title,Salary,SAGE Fee,Status,Hired Date
0,SD327202314,03/14/2018,The Working Group,Designer Lead,86000.0,14620.0,Completed,"Jun 3, 2018"
1,MM702120613,06/13/2018,CaseWare International Inc.,Senior Developer - Cloud Analytics,110000.0,18700.0,Completed,"Aug 7, 2018"
2,MM618861419,04/19/2018,CaseWare International Inc.,Development Lead,150000.0,27000.0,Completed,"Jun 11, 2018"
3,AA20756542,04/02/2018,1Password,Backend Developer,80000.0,14400.0,Completed,"Jun 26, 2018"
4,SD605017126,01/26/2018,ThinkData Works,Ruby Developer,110000.0,18700.0,Completed,"Feb 26, 2018"

## Cleaning dfRequisition_Raw

<font color = 'blue'> More details see the other file. Cleaning work done here is only for analysis</font>

In [5]:
## Changing time to date-time format
dfRequisition_Raw['Date Created'] = pd.to_datetime(dfRequisition_Raw['Date Created'])
dfRequisition_Raw['Hired Date'] = pd.to_datetime(dfRequisition_Raw['Hired Date'])
dfRequisition_Raw.dtypes

Requisition             object
Date Created    datetime64[ns]
Company                 object
Job Title               object
Salary                 float64
SAGE Fee               float64
Status                  object
Hired Date      datetime64[ns]
dtype: object

In [6]:
## Drop null
dfRequisition_Raw = dfRequisition_Raw.dropna(axis=0, subset=['Date Created'])
pd.isnull(dfRequisition_Raw).sum()

Requisition      0
Date Created     0
Company          0
Job Title        0
Salary          85
SAGE Fee        85
Status           0
Hired Date      85
dtype: int64

In [7]:
## Adding a time spent finding a job column
dfRequisition_Raw['Time Spent Filling'] = dfRequisition_Raw['Hired Date'] - dfRequisition_Raw['Date Created']
dfRequisition_Raw.head(5)

,Requisition,Date Created,Company,Job Title,Salary,SAGE Fee,Status,Hired Date,Time Spent Filling
0,SD327202314,2018-03-14,The Working Group,Designer Lead,86000.0,14620.0,Completed,2018-06-03,81 days
1,MM702120613,2018-06-13,CaseWare International Inc.,Senior Developer - Cloud Analytics,110000.0,18700.0,Completed,2018-08-07,55 days
2,MM618861419,2018-04-19,CaseWare International Inc.,Development Lead,150000.0,27000.0,Completed,2018-06-11,53 days
3,AA20756542,2018-04-02,1Password,Backend Developer,80000.0,14400.0,Completed,2018-06-26,85 days
4,SD605017126,2018-01-26,ThinkData Works,Ruby Developer,110000.0,18700.0,Completed,2018-02-26,31 days

In [8]:
## Converting it to time
## dfRequisition_Raw['Time Spent Filling'] = (dfRequisition_Raw['Time Spent Filling']/np.timedelta64(1, 'D')).astype(int)

## Looking at multiple hires for the same requisition

In [9]:
dfRequisition_Raw_Count = dfRequisition_Raw.groupby(by='Requisition').count().sort_values(by='Date Created', ascending=False)
dfRequisition_Raw_Count.head(5)

,Date Created,Company,Job Title,Salary,SAGE Fee,Status,Hired Date,Time Spent Filling
Requisition,,,,,,,,
AA20756542,3,3,3,3,3,3,3,3
AA460943811,2,2,2,2,2,2,2,2
AA276030524,2,2,2,2,2,2,2,2
AA85086427,2,2,2,2,2,2,2,2
MM594002622,1,1,1,0,0,1,0,0

<font color ='blue'> We need to make a decision here. For our dataset to work, we require one date only. I suggest we only use the 'First Hired Date'</font>

In [10]:
## Getting minimum date
dfRequisition_Raw_Min = dfRequisition_Raw.groupby(by='Requisition').min()
dfRequisition_Raw_Min.head(5)

,Date Created,Company,Job Title,Salary,SAGE Fee,Status,Hired Date,Time Spent Filling
Requisition,,,,,,,,
AA155723314,2018-03-14,Auvenir,Product Designer,NaN,NaN,Lost - Filled by Competitor,NaT,NaT
AA177112517,2018-05-17,Auvenir,.NET Developer,NaN,NaN,Canceled - By Recruiter,NaT,NaT
AA20756542,2018-04-02,1Password,Backend Developer,62500.0,11250.0,Completed,2018-05-09,37 days
AA276030524,2018-05-24,CaseWare International Inc.,DevOps Developer,105000.0,18900.0,Completed,2018-06-26,33 days
AA298282119,2018-01-19,Scribd,Software Engineer,NaN,NaN,Hold,NaT,NaT

## Combine the 2 dataframes

In [11]:
dfRequisition = dfRequisition_Raw_Min.merge(dfRequisition, how='inner', left_on=['Requisition'], right_on=['Requisition'])
dfRequisition.head(5)

,Requisition,Date Created,Company,Job Title,Salary,SAGE Fee,Status,Hired Date,Time Spent Filling,Pipelined,...,Client Rejected Candidate,Declined from Web Apply,Offer Declined,Offer,Applicants,HasPhoneInterview,HasInPersonInterview,HasVideoInterview,Total Unique Candidates,First Interview Date
0,AA155723314,2018-03-14,Auvenir,Product Designer,NaN,NaN,Lost - Filled by Competitor,NaT,NaT,4,...,0,0,0,0,2,0,0,0,5,NaT
1,AA177112517,2018-05-17,Auvenir,.NET Developer,NaN,NaN,Canceled - By Recruiter,NaT,NaT,0,...,0,0,0,0,2,0,0,0,2,NaT
2,AA20756542,2018-04-02,1Password,Backend Developer,62500.0,11250.0,Completed,2018-05-09,37 days,4,...,0,0,0,0,15,1,0,0,17,NaT
3,AA276030524,2018-05-24,CaseWare International Inc.,DevOps Developer,105000.0,18900.0,Completed,2018-06-26,33 days,18,...,0,0,0,0,2,1,1,1,20,2018-06-05
4,AA298282119,2018-01-19,Scribd,Software Engineer,NaN,NaN,Hold,NaT,NaT,0,...,0,0,0,0,1,0,0,0,1,NaT

In [12]:
## Seeing the column names
dfRequisition.columns

Index(['Requisition', 'Date Created', 'Company', 'Job Title', 'Salary',
       'SAGE Fee', 'Status', 'Hired Date', 'Time Spent Filling', 'Pipelined',
       'Submitted', 'Started', 'Web Apply', 'Phone Interview',
       'Declined from Pipeline', 'In Person Interview', 'Video Interview',
       'Candidate Withdrew Interest', 'Client Declined',
       '2nd In Person Interview', 'Phone Screen', 'Candidate Declined',
       'Internal In Person Interview', 'Ready to Submit',
       'Client Rejected Candidate', 'Declined from Web Apply',
       'Offer Declined', 'Offer', 'Applicants', 'HasPhoneInterview',
       'HasInPersonInterview', 'HasVideoInterview', 'Total Unique Candidates',
       'First Interview Date'],
      dtype='object')

In [13]:
## Changing the column names
dfRequisition.rename(columns={'Hired Date': 'First Hire Date', 'Time Spent Filling': 'Time to Fill', 'Started': 'Hires'}, inplace=True)
dfRequisition.head(5)

,Requisition,Date Created,Company,Job Title,Salary,SAGE Fee,Status,First Hire Date,Time to Fill,Pipelined,...,Client Rejected Candidate,Declined from Web Apply,Offer Declined,Offer,Applicants,HasPhoneInterview,HasInPersonInterview,HasVideoInterview,Total Unique Candidates,First Interview Date
0,AA155723314,2018-03-14,Auvenir,Product Designer,NaN,NaN,Lost - Filled by Competitor,NaT,NaT,4,...,0,0,0,0,2,0,0,0,5,NaT
1,AA177112517,2018-05-17,Auvenir,.NET Developer,NaN,NaN,Canceled - By Recruiter,NaT,NaT,0,...,0,0,0,0,2,0,0,0,2,NaT
2,AA20756542,2018-04-02,1Password,Backend Developer,62500.0,11250.0,Completed,2018-05-09,37 days,4,...,0,0,0,0,15,1,0,0,17,NaT
3,AA276030524,2018-05-24,CaseWare International Inc.,DevOps Developer,105000.0,18900.0,Completed,2018-06-26,33 days,18,...,0,0,0,0,2,1,1,1,20,2018-06-05
4,AA298282119,2018-01-19,Scribd,Software Engineer,NaN,NaN,Hold,NaT,NaT,0,...,0,0,0,0,1,0,0,0,1,NaT

In [14]:
## Adding yet another variable
dfRequisition['Time to Interview'] = dfRequisition['First Interview Date'] - dfRequisition['Date Created']

## Adding a variable to see how long they took to make a decision
dfRequisition['Decision Time'] = dfRequisition['First Hire Date'] - dfRequisition['First Interview Date']

dfRequisition.head(5)

,Requisition,Date Created,Company,Job Title,Salary,SAGE Fee,Status,First Hire Date,Time to Fill,Pipelined,...,Offer Declined,Offer,Applicants,HasPhoneInterview,HasInPersonInterview,HasVideoInterview,Total Unique Candidates,First Interview Date,Time to Interview,Decision Time
0,AA155723314,2018-03-14,Auvenir,Product Designer,NaN,NaN,Lost - Filled by Competitor,NaT,NaT,4,...,0,0,2,0,0,0,5,NaT,NaT,NaT
1,AA177112517,2018-05-17,Auvenir,.NET Developer,NaN,NaN,Canceled - By Recruiter,NaT,NaT,0,...,0,0,2,0,0,0,2,NaT,NaT,NaT
2,AA20756542,2018-04-02,1Password,Backend Developer,62500.0,11250.0,Completed,2018-05-09,37 days,4,...,0,0,15,1,0,0,17,NaT,NaT,NaT
3,AA276030524,2018-05-24,CaseWare International Inc.,DevOps Developer,105000.0,18900.0,Completed,2018-06-26,33 days,18,...,0,0,2,1,1,1,20,2018-06-05,12 days,21 days
4,AA298282119,2018-01-19,Scribd,Software Engineer,NaN,NaN,Hold,NaT,NaT,0,...,0,0,1,0,0,0,1,NaT,NaT,NaT

In [15]:
## For the time variables, fill the dates with a placeholder so that we can convert
dfRequisition = dfRequisition.fillna({'Time to Interview': 0, 'Time to Fill': 0, 'Decision Time': 0})
dfRequisition.head(5)

C:\Users\Weiran\Anaconda3\lib\site-packages\pandas\core\generic.py:6117: FutureWarning: Passing integers to fillna is deprecated, will raise a TypeError in a future version.  To retain the old behavior, pass pd.Timedelta(seconds=n) instead.
  obj.fillna(v, limit=limit, inplace=True, downcast=downcast)

,Requisition,Date Created,Company,Job Title,Salary,SAGE Fee,Status,First Hire Date,Time to Fill,Pipelined,...,Offer Declined,Offer,Applicants,HasPhoneInterview,HasInPersonInterview,HasVideoInterview,Total Unique Candidates,First Interview Date,Time to Interview,Decision Time
0,AA155723314,2018-03-14,Auvenir,Product Designer,NaN,NaN,Lost - Filled by Competitor,NaT,0 days,4,...,0,0,2,0,0,0,5,NaT,0 days,0 days
1,AA177112517,2018-05-17,Auvenir,.NET Developer,NaN,NaN,Canceled - By Recruiter,NaT,0 days,0,...,0,0,2,0,0,0,2,NaT,0 days,0 days
2,AA20756542,2018-04-02,1Password,Backend Developer,62500.0,11250.0,Completed,2018-05-09,37 days,4,...,0,0,15,1,0,0,17,NaT,0 days,0 days
3,AA276030524,2018-05-24,CaseWare International Inc.,DevOps Developer,105000.0,18900.0,Completed,2018-06-26,33 days,18,...,0,0,2,1,1,1,20,2018-06-05,12 days,21 days
4,AA298282119,2018-01-19,Scribd,Software Engineer,NaN,NaN,Hold,NaT,0 days,0,...,0,0,1,0,0,0,1,NaT,0 days,0 days

In [16]:
## Change the variable types to int for the days
dfRequisition['Time to Interview'] = (dfRequisition['Time to Interview']/np.timedelta64(1, 'D')).astype(int)
dfRequisition['Time to Fill'] = (dfRequisition['Time to Fill']/np.timedelta64(1, 'D')).astype(int)
dfRequisition['Decision Time'] = (dfRequisition['Decision Time']/np.timedelta64(1, 'D')).astype(int)
dfRequisition.head(5)

,Requisition,Date Created,Company,Job Title,Salary,SAGE Fee,Status,First Hire Date,Time to Fill,Pipelined,...,Offer Declined,Offer,Applicants,HasPhoneInterview,HasInPersonInterview,HasVideoInterview,Total Unique Candidates,First Interview Date,Time to Interview,Decision Time
0,AA155723314,2018-03-14,Auvenir,Product Designer,NaN,NaN,Lost - Filled by Competitor,NaT,0,4,...,0,0,2,0,0,0,5,NaT,0,0
1,AA177112517,2018-05-17,Auvenir,.NET Developer,NaN,NaN,Canceled - By Recruiter,NaT,0,0,...,0,0,2,0,0,0,2,NaT,0,0
2,AA20756542,2018-04-02,1Password,Backend Developer,62500.0,11250.0,Completed,2018-05-09,37,4,...,0,0,15,1,0,0,17,NaT,0,0
3,AA276030524,2018-05-24,CaseWare International Inc.,DevOps Developer,105000.0,18900.0,Completed,2018-06-26,33,18,...,0,0,2,1,1,1,20,2018-06-05,12,21
4,AA298282119,2018-01-19,Scribd,Software Engineer,NaN,NaN,Hold,NaT,0,0,...,0,0,1,0,0,0,1,NaT,0,0

In [17]:
## Replace the 0s in the column with NaN
dfRequisition['Time to Interview'] = np.where(dfRequisition['Time to Interview'] ==0, np.NaN, dfRequisition['Time to Interview'])
dfRequisition['Time to Fill'] = np.where(dfRequisition['Time to Fill'] ==0, np.NaN, dfRequisition['Time to Fill'])
dfRequisition['Decision Time'] = np.where(dfRequisition['Decision Time'] ==0, np.NaN, dfRequisition['Decision Time'])
dfRequisition.head(5)

,Requisition,Date Created,Company,Job Title,Salary,SAGE Fee,Status,First Hire Date,Time to Fill,Pipelined,...,Offer Declined,Offer,Applicants,HasPhoneInterview,HasInPersonInterview,HasVideoInterview,Total Unique Candidates,First Interview Date,Time to Interview,Decision Time
0,AA155723314,2018-03-14,Auvenir,Product Designer,NaN,NaN,Lost - Filled by Competitor,NaT,NaN,4,...,0,0,2,0,0,0,5,NaT,NaN,NaN
1,AA177112517,2018-05-17,Auvenir,.NET Developer,NaN,NaN,Canceled - By Recruiter,NaT,NaN,0,...,0,0,2,0,0,0,2,NaT,NaN,NaN
2,AA20756542,2018-04-02,1Password,Backend Developer,62500.0,11250.0,Completed,2018-05-09,37.0,4,...,0,0,15,1,0,0,17,NaT,NaN,NaN
3,AA276030524,2018-05-24,CaseWare International Inc.,DevOps Developer,105000.0,18900.0,Completed,2018-06-26,33.0,18,...,0,0,2,1,1,1,20,2018-06-05,12.0,21.0
4,AA298282119,2018-01-19,Scribd,Software Engineer,NaN,NaN,Hold,NaT,NaN,0,...,0,0,1,0,0,0,1,NaT,NaN,NaN

In [18]:
dfRequisition.columns

Index(['Requisition', 'Date Created', 'Company', 'Job Title', 'Salary',
       'SAGE Fee', 'Status', 'First Hire Date', 'Time to Fill', 'Pipelined',
       'Submitted', 'Hires', 'Web Apply', 'Phone Interview',
       'Declined from Pipeline', 'In Person Interview', 'Video Interview',
       'Candidate Withdrew Interest', 'Client Declined',
       '2nd In Person Interview', 'Phone Screen', 'Candidate Declined',
       'Internal In Person Interview', 'Ready to Submit',
       'Client Rejected Candidate', 'Declined from Web Apply',
       'Offer Declined', 'Offer', 'Applicants', 'HasPhoneInterview',
       'HasInPersonInterview', 'HasVideoInterview', 'Total Unique Candidates',
       'First Interview Date', 'Time to Interview', 'Decision Time'],
      dtype='object')

In [19]:
## Changing the order of the columns
dfRequisition = dfRequisition[['Requisition', 'Date Created', 'Company', 'Job Title', 'Salary', 'SAGE Fee', 'Status', 'First Interview Date', 
                               'Time to Interview', 'Decision Time','First Hire Date', 'Time to Fill', 'Pipelined', 'Submitted', 'Hires', 
                               'Web Apply', 'Phone Interview', 'Declined from Pipeline', 'In Person Interview', 'Video Interview', 
                               'Candidate Withdrew Interest', 'Client Declined', '2nd In Person Interview', 'Phone Screen', 'Candidate Declined', 
                               'Internal In Person Interview', 'Ready to Submit', 'Client Rejected Candidate', 'Declined from Web Apply', 
                               'Offer Declined', 'Offer', 'Applicants', 'HasPhoneInterview', 'HasInPersonInterview', 'HasVideoInterview', 
                               'Total Unique Candidates']]
dfRequisition.head(5)

,Requisition,Date Created,Company,Job Title,Salary,SAGE Fee,Status,First Interview Date,Time to Interview,Decision Time,...,Ready to Submit,Client Rejected Candidate,Declined from Web Apply,Offer Declined,Offer,Applicants,HasPhoneInterview,HasInPersonInterview,HasVideoInterview,Total Unique Candidates
0,AA155723314,2018-03-14,Auvenir,Product Designer,NaN,NaN,Lost - Filled by Competitor,NaT,NaN,NaN,...,0,0,0,0,0,2,0,0,0,5
1,AA177112517,2018-05-17,Auvenir,.NET Developer,NaN,NaN,Canceled - By Recruiter,NaT,NaN,NaN,...,0,0,0,0,0,2,0,0,0,2
2,AA20756542,2018-04-02,1Password,Backend Developer,62500.0,11250.0,Completed,NaT,NaN,NaN,...,0,0,0,0,0,15,1,0,0,17
3,AA276030524,2018-05-24,CaseWare International Inc.,DevOps Developer,105000.0,18900.0,Completed,2018-06-05,12.0,21.0,...,0,0,0,0,0,2,1,1,1,20
4,AA298282119,2018-01-19,Scribd,Software Engineer,NaN,NaN,Hold,NaT,NaN,NaN,...,0,0,0,0,0,1,0,0,0,1

In [20]:
## For fun, check correlation!
dfRequisition.rank()
dfRequisition.corr('kendall')

,Salary,SAGE Fee,Time to Interview,Decision Time,Time to Fill,Pipelined,Submitted,Hires,Web Apply,Phone Interview,...,Ready to Submit,Client Rejected Candidate,Declined from Web Apply,Offer Declined,Offer,Applicants,HasPhoneInterview,HasInPersonInterview,HasVideoInterview,Total Unique Candidates
Salary,1.000000,0.856626,0.022225,-0.103723,0.051287,0.060608,0.076682,-0.311513,-0.106219,0.084075,...,0.198159,-0.182368,-0.225788,NaN,NaN,0.022858,0.189204,0.287392,0.087607,-0.026877
SAGE Fee,0.856626,1.000000,0.084640,-0.110626,0.094298,0.030906,0.073128,-0.279718,-0.096426,0.160504,...,0.127890,-0.222052,-0.187890,NaN,NaN,0.015736,0.261763,0.274998,0.106670,-0.055067
Time to Interview,0.022225,0.084640,1.000000,-0.179357,0.415625,0.070152,0.097299,0.057427,0.159894,0.127268,...,-0.101094,-0.003471,0.136240,-0.177029,NaN,0.163209,0.201781,0.034706,-0.211246,0.136860
Decision Time,-0.103723,-0.110626,-0.179357,1.000000,0.537011,0.189229,0.248316,0.050833,-0.179721,0.189965,...,0.150996,NaN,-0.169182,NaN,NaN,0.128405,0.148689,0.083874,-0.028106,0.090248
Time to Fill,0.051287,0.094298,0.415625,0.537011,1.000000,0.327441,0.311477,0.066746,0.037581,0.494754,...,0.103757,-0.128388,0.008559,NaN,NaN,0.243318,0.521515,0.214357,-0.156245,0.260488
Pipelined,0.060608,0.030906,0.070152,0.189229,0.327441,1.000000,0.410531,0.198133,0.219887,0.293822,...,0.166443,0.165724,-0.039717,-0.002330,0.062915,0.378006,0.258037,0.350736,0.045667,0.828212
Submitted,0.076682,0.073128,0.097299,0.248316,0.311477,0.410531,1.000000,0.270117,0.286958,0.548164,...,0.089180,0.072541,0.147148,0.103596,-0.067033,0.728204,0.472318,0.504319,0.168605,0.494423
Hires,-0.311513,-0.279718,0.057427,0.050833,0.066746,0.198133,0.270117,1.000000,-0.029552,0.224673,...,0.134343,-0.008976,0.101105,-0.055165,-0.055165,0.165485,0.227565,0.390411,0.164117,0.221610
Web Apply,-0.106219,-0.096426,0.159894,-0.179721,0.037581,0.219887,0.286958,-0.029552,1.000000,0.168012,...,-0.134022,0.121855,0.204160,0.024293,-0.076928,0.656440,0.130318,0.145674,0.109800,0.399083
Phone Interview,0.084075,0.160504,0.127268,0.189965,0.494754,0.293822,0.548164,0.224673,0.168012,1.000000,...,0.134651,0.100046,0.180544,-0.075426,-0.075426,0.426159,0.866705,0.388938,-0.018403,0.344722
Declined from Pipeline,0.036315,0.052381,-0.008019,0.293976,0.317360,0.541797,0.323149,0.260397,0.141001,0.329376,...,0.114003,0.091070,0.033583,-0.068781,-0.068781,0.294031,0.360380,0.375391,0.030678,0.477522
In Person Interview,0.296735,0.260210,-0.024430,0.203437,0.277842,0.401707,0.547804,0.353564,0.163990,0.427582,...,0.109483,-0.067418,0.061950,0.133658,-0.077381,0.428863,0.400775,0.873908,0.128828,0.399110
Video Interview,0.102725,0.121230,-0.215364,-0.011063,-0.153895,0.048084,0.171493,0.157291,0.117538,-0.014525,...,-0.049230,-0.057013,-0.040137,0.288229,-0.028258,0.145252,-0.037707,0.143348,0.986595,0.061923
Candidate Withdrew Interest,0.132521,0.116365,0.116112,0.129806,0.310210,0.624730,0.368227,0.267823,0.178488,0.336354,...,0.198897,0.195932,-0.026697,-0.071005,-0.071005,0.322624,0.333639,0.323237,-0.055947,0.578754
Client Declined,0.335840,0.282010,0.095090,0.136554,0.305545,0.298267,0.621131,0.074378,0.248073,0.534937,...,0.141509,0.056248,0.157415,0.081225,-0.078472,0.501830,0.487336,0.491926,0.166418,0.345835
2nd In Person Interview,0.214108,0.193259,-0.162421,0.220624,0.199464,0.236821,0.265513,0.330647,-0.140715,0.197740,...,0.189590,-0.083910,-0.059073,0.226658,-0.041589,0.126714,0.176124,0.427722,-0.048629,0.178105
Phone Screen,-0.093914,-0.150513,-0.088297,0.342068,0.294830,0.390401,0.291228,0.206955,0.050704,0.283216,...,0.443602,0.081180,-0.047768,-0.033630,-0.033630,0.215418,0.228385,0.227257,-0.022154,0.369117
Candidate Declined,0.036723,0.068947,-0.022043,0.292739,0.286263,0.397150,0.460985,0.014734,0.252374,0.500671,...,0.150925,0.170948,-0.074827,0.131701,-0.052680,0.392840,0.413645,0.355995,0.121462,0.402639
Internal In Person Interview,0.054176,0.013320,-0.137608,0.259990,0.240285,0.268935,0.256478,0.154036,0.051922,0.190227,...,-0.040797,-0.047247,-0.033262,-0.023417,-0.023417,0.188138,0.125241,0.264467,0.057298,0.250323
Ready to Submit,0.198159,0.127890,-0.101094,0.150996,0.103757,0.166443,0.089180,0.134343,-0.134022,0.134651,...,1.000000,0.272544,-0.021518,-0.015149,-0.015149,0.025120,0.174078,0.061705,-0.049899,0.148446
Client Rejected Candidate,-0.182368,-0.222052,-0.003471,NaN,-0.128388,0.165724,0.072541,-0.008976,0.121855,0.100046,...,0.272544,1.000000,-0.024920,-0.017545,-0.017545,0.124851,0.105677,-0.086078,-0.057788,0.196336
Declined from Web Apply,-0.225788,-0.187890,0.136240,-0.169182,0.008559,-0.039717,0.147148,0.101105,0.204160,0.180544,...,-0.021518,-0.024920,1.000000,-0.012351,-0.012351,0.180910,0.141926,0.139491,-0.040683,0.113052
Offer Declined,NaN,NaN,-0.177029,NaN,NaN,-0.002330,0.103596,-0.055165,0.024293,-0.075426,...,-0.015149,-0.017545,-0.012351,1.000000,-0.008696,0.058876,-0.087027,0.098205,0.303602,-0.020914
Offer,NaN,NaN,NaN,NaN,NaN,0.062915,-0.067033,-0.055165,-0.076928,-0.075426,...,-0.015149,-0.017545,-0.012351,-0.008696,1.000000,-0.088915,-0.087027,-0.088546,-0.028642,0.039505
Applicants,0.022858,0.015736,0.163209,0.128405,0.243318,0.378006,0.728204,0.165485,0.656440,0.426159,...,0.025120,0.124851,0.180910,0.058876,-0.088915,1.000000,0.375678,0.394417,0.139310,0.566268
HasPhoneInterview,0.189204,0.261763,0.201781,0.148689,0.521515,0.258037,0.472318,0.227565,0.130318,0.866705,...,0.174078,0.105677,0.141926,-0.087027,-0.087027,0.375678,1.000000,0.394450,-0.040343,0.306002
HasInPersonInterview,0.287392,0.274998,0.034706,0.083874,0.214357,0.350736,0.504319,0.390411,0.145674,0.388938,...,0.061705,-0.086078,0.139491,0.098205,-0.088546,0.394417,0.394450,1.000000,0.138932,0.355805
HasVideoInterview,0.087607,0.106670,-0.211246,-0.028106,-0.156245,0.045667,0.168605,0.164117,0.109800,-0.018403,...,-0.049899,-0.057788,-0.040683,0.303602,-0.028642,0.139310,-0.040343,0.138932,1.000000,0.057024
Total Unique Candidates,-0.026877,-0.055067,0.136860,0.090248,0.260488,0.828212,0.494423,0.221610,0.399083,0.344722,...,0.148446,0.196336,0.113052,-0.020914,0.039505,0.566268,0.306002,0.355805,0.057024,1.000000

In [21]:
## Save updated file in a CSV
dfRequisition.to_csv('requisition_master.csv')